<div class="transaction-history-table">
  <h2 class="title">Mes Transactions</h2>

  <div *ngIf="loading">Chargement…</div>
  <p *ngIf="error" class="error">{{ error }}</p>

  <table *ngIf="!loading && !error" class="tx-table">
    <thead>
      <tr>
        <th class="col-rel">Relation</th>
        <th class="col-desc">Description</th>
        <th class="col-amount">Montant</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tx of transactions">
        <td class="col-rel">{{ relationLabel(tx) }}</td>
        <td class="col-desc">{{ tx.description }}</td>
        <td class="col-amount">{{ tx.amount | number : "1.2-2" }}€</td>
      </tr>
    </tbody>
  </table>
</div>
